<%once>
# Mapping of mutt colours to CSS
my %colors = (
  white         => "grey",
  black         => "black",
  green         => "green",
  magenta       => "#800080",
  blue          => "#000080",
  cyan          => "#008080",
  yellow        => "brown",
  red           => "#800000",
  default       => "",
  brightwhite   => "white",
  brightblack   => "#404040",
  brightgreen   => "#00ff00", 
  brightmagenta => "#ff00ff",
  brightblue    => "blue",
  brightcyan    => "cyan",
  brightyellow  => "yellow",
  brightred     => "red"
);

# Default colours (from my Fedora system)
my %default_colours = (
  attachment => ["brightmagenta","default"],
  error      => ["brightred",    "default"],
  hdrdefault => ["red",          "default"],
  indicator  => ["brightyellow", "red"    ],
  markers    => ["brightcyan",   "default"],
  message    => ["brightcyan",   "default"],
  normal     => ["default",      "default"],
  quoted     => ["brightblue",   "default"],
  search     => ["default",      "green"  ],
  signature  => ["red",          "default"],
  status     => ["yellow",       "blue"   ],
  tilde      => ["magenta",      "default"],
  tree       => ["magenta",      "default"],
);
</%once>
<%args>
  $mutt # Mutt::Config we're configuring for
</%args>
<%init>
  # Make a chunk of CSS to describe the colours currently in effect
  my $style = "";
  foreach my $o (sort keys %default_colours) {
    my ($fg, $bg)=@{$default_colours{$o}};
    # Override defaults if user configured them previously
    if ($c->session->{"col_fg_$o"}) { $fg = $c->session->{"col_fg_$o"}; }
    if ($c->session->{"col_bg_$o"}) { $bg = $c->session->{"col_bg_$o"}; }
    $style .= ".$o {";
    $style .= " color: " . $colors{$fg} . ";"            if ($fg ne "default");
    $style .= " background-color: " . $colors{$bg} . ";" if ($bg ne "default");
    $style .= " }\n";
  }
</%init>
<&| layout.mas, style => $style &>
<form method="post" action="<% $c->uri_for("/page") %>">
<& navbar.mas, mutt => $mutt, current_page => "_color" &>
<pre class="normal">
<span class="status">i:Exit  -:PrevPg  <Space>:NextPg v:View Attachm.  d:Del  r:Reply  j:Next ?:Help        </span>

  26     Jul 28 Foo Bar        (3.9K) Your telephone call...                    
  27     Jul 28 Someone Else   (1.6K) <span class="tree">+-></span>                                       
  28   + Jul 28 John Smith     (  62)  <span class="tree">+-></span>                                      
<span class="indicator">  29 O F Jul 28 To Foo Bar     (   5) Test                                      </span>

<span class="status">-*-Mutt: imap://euphrates/INBOX [Msgs:29]---(threads/date)--------------(end)---</span>
<span class="hdrdefault">
Date: Thu, 28 Jul 2005 16:26:37 +0100                                           
From: A friend &lt;friend@example.com&gt;                                                                 
To: Me &lt;me@example.org&gt;                                                                         
Subject: New email                                                              
User-Agent: Mutt/1.5.9i                                                         
X-SA-Exim-Scanned: No (on mail.example.com); Mail filter running algorithm was  
<span class="markers">+</span>false                                                                          
X-Delivered-To: me@example.org                                                  
</span>
                                                                                
<span class="quoted">&gt; Test message                                                                  </span>

Yes <span class="search">that</span> works.                                                                 
<span class="signature">--                                                                              
Foo Bar                                  Acme Widgets Ltd                       </span>

<span class="tilde">~</span>                                                                               
<span class="tilde">~</span>                                                                               
<span class="tilde">~</span>                                                                               
<span class="status">-O F- 29/29: Foo Bar                 Test                              -- (87%) </span>

<span class="message">30 kept, 1 deleted.</span>                                                             
</pre>
<table>
  <tr>
    <th>Object</th>
    <th>Foreground</th>
    <th>Background</th>
  </tr>
% foreach my $o (sort keys %default_colours) {
%   my ($fg, $bg)=@{$default_colours{$o}};
%   if ($c->session->{"col_fg_$o"}) { $fg = $c->session->{"col_fg_$o"}; }
%   if ($c->session->{"col_bg_$o"}) { $bg = $c->session->{"col_bg_$o"}; }
  <tr>
    <td><% $o | h %></td>
    <td><& SELF:colour_select, name => "col_fg_$o", color => $fg &></td>
    <td><& SELF:colour_select, name => "col_bg_$o", color => $bg &></td>
  </tr>
%   }
</table>
</form>
<hr />
</&>
<%method colour_select>
% # Build a drop-down of color possibilities
<%args>
  $name  # HTML name of the drop-down
  $color # Currently-selected color
</%args>
<select name="<% $name %>">
% foreach my $k (sort keys %colors) {
  <option <% ($k eq $color) ? "selected='selected'" : "" %>>
    <% $k %></option>
% }
</select>
</%method>
