<%once>
    use Mutt::Config;
</%once>
<%args>
    $page    # Which page we're displaying
    $version # for which version of mutt?
    $args    # %ARGS of the original request
</%args>
<%init>
    die("Invalid version") if ($version =~ m/[^0-9A-Za-z_.-]/);
    die("Invalid page")    if ($page =~ m/[^0-9A-Za-z_.-]/);
    die("Invalid args")    unless ref $args;
    my $config = Mutt::Config->new($version);
</%init>
<&| components.html:page &>
<form method="post" action="dispatch.html">
<& components.html:page_chooser, mutt => $config, current_page => $page &>
% my $commands = $config->variables($page);
% foreach my $c (sort keys %$commands) {
%   my $command = $commands->{$c}; 
%   my $default = $command->default();
%   $default =~ s/&quot;/"/g;    # Sort out quote marks
%   $default =~ s/^"(.*)"$/$1/g; # Remove wrapping quotes
  <h3><% $c %></h3>
  <p>
    <strong>Type:</strong>    <% $command->type() | h %>
    <strong>Default:</strong> "<% $default | h %>"
  </p>
  <div class="htmldesc">
    <% $command->html_description() %>
  </div>
%   my $value = exists($args->{"opt_$c"}) ? $args->{"opt_$c"} : $command->default();
%   if (my @possibles = $command->possible_values()) {
    <select name="opt_<% $c %>">
%     foreach my $poss (@possibles) {
      <option <% ($value eq $poss) ? "selected='selected'" : "" %>><% $poss | h %></option>
%     }
    </select>
%   } else {
%     $value =~ s/&quot;/"/g;
%     $value =~ s/^"(.*)"$/$1/g;
      <input name="opt_<% $c | h %>" value="<% $value | h %>" />
%   }

% }
<& components.html:copy_over_hidden_fields, args => $args, mutt => $config, page => $page &>
</form>
<hr />
</&>
